body {
    margin: 40px;
}

* {box-sizing: border-box;}

.wrapper {
    border: 2px solid #CCC;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(2, auto);
    background-color: #fff;
    color: #000;
}

.box .box {
    background-color: #fff;
    color: #000;
}

.a {
    grid-column: col 1 / span 1;
    grid-row: row;
    padding-top: 15px;
}

.b {
    grid-column: col 2 / span 2;
    grid-row: row 1;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    justify-items: center;
    align-items: center;
}

.c {
    grid-column: 1;
    grid-row: 1;
}

.d {
    grid-column: 2;
    grid-row: 1;
}

.e {
    grid-column: 1;
    grid-row: 2;
}

.f {
    grid-column: 2;
    grid-row: 2;
}

.g {
    grid-column: col 1 / span 1;
    grid-row: row 2;
}

.h {
    grid-column: col 2 / span 2;
    grid-row: row 2;
    display: grid;
    grid-gap: 10px;
}

.i {
    grid-column: 1;
    grid-row: 1;
}

.j {
    grid-column: 1;
    grid-row: 2;
}

.k {
    grid-column: 2;
    grid-row: 2;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 20px;
}

.instructions {
    width: 300px;
}

#match-num {
    border: #615f60 solid 2px;
    background-color: #f888d6;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#running-score {
    border: #615f60 solid 2px;
    background-color: #f888d6;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.wins {
    border: #615f60 solid 2px;
    float: left;
    padding: 30px;
}

.losses {
    border: #615f60 solid 2px;
    float: right;
    padding: 30px;
    margin-right: 125px;
}

.your-borks {
    margin-top: 50px;
}